CREATE TABLE IF NOT EXISTS user_fundament (
  user_id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  identity TEXT DEFAULT '',
  philosophy TEXT DEFAULT '',
  vision TEXT DEFAULT '',
  finances TEXT DEFAULT '',
  knowledge TEXT DEFAULT '',
  relationships TEXT DEFAULT '',
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);
